@media (max-width: 1199px){
    .footer {
        &__info {
            width: 340px;
        }
    }
    .pageup {
        right: 40px;
    }
}
@media (max-width: 991px) {

    .header{
        justify-content: space-around;
}

    .promo {
        &__header{
            font-size: 37px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__wrapper {
            align-items: center;
        }
        // background: url(../../img/header/main_bg.jpg) no-repeat;
    }

    .advantage {
        padding-left: 50px;
        padding-right: 50px;
        &__wrapper {
            justify-content: space-around;
        }
    }

    .consultation {
        padding-left: 50px;
    }
    .tittle {
        &_left {
            font-size: 30px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
        }
    }

    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .review {
        padding: 0 20px 0 20px;
    }
    .modal {
        min-height: 340px;
        width: 300px;
        &__subtitel {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .feed-form {
        &_modal {
            width: 260px;
            margin-top: 20px;
        }
        input {
            height: 45px;
            font-size: 13px;
        }
    }
    .button {
        &_submit {
            height: 50px;
            font-size: 11px;
        }
    }
    .pageup {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
    
    }


@media (max-width: 767px) {

    .header {
        padding: 0 15px;
        &__official{
            display: none;
        }
        &__phone {
            font-size: 15px;
        }
        }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
        }
        &__subtittle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
        }
    } 
    .consultation {
        &__descr {
            margin-top: 60px;
        }
    }
    .tittle {
        &_left {
            font-size: 25px;
        }
    }
    .carousel {
        &__inner {
            width: 450px;
        }
    }
    .catalog {
        &__tabs {
            margin: 40px 0 30px 0;
        }
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }
    .catalog-item {
        width: 240px;
        &__new-price {
            font-size: 16px;
        }
        &__descr {
            max-width: 200px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__list {
            li {
                font-size: 13px;
                margin-bottom: 16px;
            }
        }
    }
    .button_mini {
        width: 100px;
    }
    .footer {
        &__info {
            width: 100%;
            height: 220px;
        }
        &__addr {
            margin-top: 15px;
        }
    }
    .pageup {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 575px) {

    .header {
        &__logo {
            width: 170px;
        }
        &__phone {
            font-size: 11px;
        }
    .button {
            width: 100px;
            font-size: 9px;
        }
        }

    .promo {
        padding-bottom: 20px;
        // background: url(../../img/header/main_bg.jpg) no-repeat;
        &__wrapper {
            margin-top: 65px;
        }
        &__header {
            font-size: 26px;
            line-height: 40px;
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            justify-content: center;
            align-items: baseline;
            width: 300px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            font-size: 13px;
        }
    .button {
        &_main {
            width: 200px;
        }
        }
    }
    .tittle {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .consultation {
        padding: 70px 50px;
        &__descr {
            margin-top: 40px;
            font-size: 14px;
        }
    }
    .tittle {
        font-size: 19px;
        &_left {
            font-size: 20px;
        }
    }

    .feed-form {
        width: 230px;
    }

    .carousel {
        &__inner {
            width: 300px;
        }
    }
    .catalog {
        &__tabs {
            margin: 30px 0 30px 0;
        }
        &__tab {
            height: 40px;
            width: 130px;
            font-size: 10px;
            line-height: 40px;
            &:hover {
                box-shadow: 1px 1px 10px #c70101;
            }
        }
        &__content {
            margin-top: 40px;
        }
    }
    .catalog-item {
        padding-bottom: 0;
        min-height: 370px;
        &__subtitle {
            font-size: 13px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
        &__link {
            margin-top: 12px;
            font-size: 12px;
        }
        &__list {
            li {
                font-size: 10px;
                margin-bottom: 13px;
            }
        }
        &__back {
            font-size: 12px;
        }
        img {
            height: 120px;
        }
        hr {
            margin-top: 25px;
        }
        &__new-price {
            font-size: 14px;
        }
        &__old-price {
            font-size: 12px;
        }
    }
    .button_mini {
        height: 35px;
        font-size: 15px;
    }
    .review {
        &__name {
            margin-top: 25px;
            padding-left: 0;
            font-size: 14px;
        }
        &__subtitel {
            padding-left: 0;
            font-size: 10px;
        }
        &__descr {
            padding-left: 0;
            font-size: 12px;
        }
        &__img {
            margin: 0 auto;
            position: relative;
            width: 35%;
            height: 35%;
        }
    }
    .footer {
        height: 500px;
        &__info {
            height: 180px;
        }
        &__addr {
            font-size: 16px;
        }
        &__number {
            font-size: 16px;
        }
        &__social-item {
            margin-top: 25px;
            width: 30px;
            height: 30px;
            img {
                width: 50%;
                height: 50%;
            }
        }
        &__map {
            height: 500px;
        }
    }
    .modal {
        padding: 15px 5px;
        min-height: 265px;
        width: 220px;
        &__subtitel {
            margin-top: 0;
            font-size: 12px;
        }
        &__descr {
            font-size: 11px;
        }
        &__close {
            right: -31px;
            font-size: 31px;
        }
    }
    .feed-form {
        &_modal {
            width: 200px;
            margin-top: 10px;
            padding-left: 10px;
        }
        input {
            height: 30px;
            font-size: 12px;
        }
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 10px;
        }
    }
    .pageup {
        right: 10px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 479px) {
    .catalog {
        padding-bottom: 30px;
        &__tab {
            height: 35px;
            width: 80px;
            font-size: 8px;
            line-height: 35px;
        }
    }
}

